input {
	udp {
		port => 5958
	}
}

filter {
	json {
		source => "message"
	}
	
	kv { 
		source => "message"
		field_split => "()"
		value_split => ","
		trim_key => "'"
		remove_field => [ "message" ]
		remove_field => [ "stack_info" ]
		remove_field => [ "tags" ]
		remove_field => [ "logger_name" ]
		remove_field => [ "path" ]
	}

	mutate {
		convert => { "Sort_merge_passes" => integer }
		convert => { "Table_lcoks_waited" => integer }
		convert => { "key_reads" => integer }
		convert => { "key_writes" => integer }
		convert => { "Connections" => integer }
		convert => { "Aborted_connects" => integer}
		convert => { "Bytes_sent" => integer}
		convert => { "Bytes_received" => integer}
		convert => { "Questions" => integer}
		convert => { "Uptime" => integer}
		convert => { "Connections" => integer}
		convert => { "Created_tmp_disk_tables" => integer}
		convert => { "Com_insert" => integer}
		convert => { "Com_update" => integer}
		convert => { "Com_delete" => integer}
		convert => { "Handler_read_rnd_next" => integer}
		convert => { "Com_select" => integer}
	}
}

output {

	elasticsearch {
		hosts => "localhost"
		index => "db_information_fix"
	}

	stdout { codec => rubydebug }

}
